body {
  font-family: "Phudu", cursive;
}

.header {
  border: 1px solid red;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.one {
  background-color: yellow;
  margin: 5 auto;
}

.two {
  /* position: absolute; */
  background-color: orange;
  left: 100px;
}

.three {
  background-color: aqua;
}

.four {
  font-family: "Rubik Iso", cursive;
  background-color: pink;
}
