.header {
  border: 1px solid red;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.one {
  background-color: yellow;
}

.two {
  position: absolute;
  background-color: orange;
  left: 100px;
}

.three {
  background-color: aqua;
}

.four {
  background-color: pink;
}
